.tittle {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;
    margin-top: 0%;
    border-top: 0px;
    

}


.paella1 {
    width: 400px;
    height: auto;
    font-size: 10px;
    border: 4px solid black; 
}

.tabouli1 {
    width: 400px;
    height: 265px;
    border: 4px solid black;
}

.shrimp1 {
    width: 400px;
    height: auto;
    border: 4px solid black;
}

.shakshuka1 {
    width: 400px;
    height: auto;
    border: 4px solid black;
}

.recipe1 {
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: aqua;
    padding: 10px;
    height: 30px;
    border-bottom: 3px solid black;
    border-right: 4px solid black;
    
}

.box1 {
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    
   
}

.box2 {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.box11 {
    
    
}

.box12{
    

}





