.tittle {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: black;

}


.paella1 {
    width: 300px;
    height: auto;
    font-size: 22px;
}

.tabouli1 {
    width: 300px;
    height: auto;
}

.shrimp1 {
    width: 300px;
    height: auto;
}

.shakshuka1 {
    width: 300px;
    height: auto;
}

.recipe1{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

