
body {
    background-color: #d6ecec;
    margin: 0px;
    
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: #d6ecec;
    list-style-type: none;
    
}

.nav {
    display: flex;
    gap: 18px;
    margin-right: 150px;
}

.odin {
    color: black;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 150px;
}

.odin1
{
    height: auto;
    width: 40px;
}   
    
    .list {
        color: black;
        background-color: transparent;
        text-decoration: none;
    }

    .section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: white;
}   

.secback {
    display: flex;
    flex-direction: row;
    background-color: #d6ecec;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    gap: 40px;
    
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.pic {
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin-left: 40px;
    border: 2px solid gray;
}

.paella {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-right: 40px;
    
}

.paella1 {
    background-color: antiquewhite;
    border: solid black;
    color: black;
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    margin: 0%;
    
}

.shakshuka{
    background-color: antiquewhite;
    border: solid black;
    color: black;
    width: 100px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 50px;
}

.tittle1 {
    font-weight: bolder;
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
}

.description1 {
    font-style: italic;
    font-size: 22px;
}

.description2 {
    font-style: italic;
    font-size: 22px;
    margin: 0%;
}

.description3 {
    font-style: italic;
    font-size: 22px;
    margin-top: 60px;
}


.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: #d6ecec;
}

.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: white;

}

.secback2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    gap: 40px;
}

.secback3 {
    display: flex;
    flex-direction: row;
    background-color: #d6ecec;
    width: 900px;
    height: 500px;
    border-radius: 15px;
    gap: 40px;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: #d6ecec;
}






